* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
    color: #ffffff;
    cursor: default;

}

.nodesktop {
    display: none;
}

li {
    list-style: none;
    gap: 1em;
}

h2 {
    font-weight: bold;
    font-size: 2.6rem;
    width: 25rem;
    padding: 1rem 0;
}

h5 {
    color: #FD6A9A;
    font-weight: 400;
    font-style: italic;
    font-size: larger;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

button {
    border: none;
    margin-top: 2rem;
    border-radius: 45px;
    width: 9rem;
    height: 3rem;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: #252525;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;


}

.fotologo {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;

}

li a img {
    cursor: pointer;
}

main section {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 120vh;
    padding: 6rem 4rem;
}

.doghat {
    background-image: url(./assets/desktop/bgsection1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    text-align: center;
}

#pata {
    height: 8em;
}

.dogmane {
    background-image: url(./assets/desktop/bgsection2.png);

}

.dogmane h2,
.dogmane p {
    color: #3A342F;
    width: 15rem;
}

.dogmane button {
    background-color: #3A342F;
}

.mongrel {
    background-image: url(./assets/desktop/bgsection3.png);
    display: flex;
    align-items: start;
    justify-content: end;
}

.mongrel article {
    width: 20rem;

}

.mongrel article button {
    background-color: #FFFFFF;
    color: #252525;
}

footer {
    width: 100%;
}

.apoio {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.apoio figure img {
    margin: 0.5rem;
}

.footernav {
    background: #EB4A7B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
}

.footernav nav p {

    font-size: 0.8em;
}

@media (max-width: 500px) {
    .nomobile {
        display: none;
    }

    h2 {
        font-size: 2rem;
        width: auto;
    }

    main section {
        height: 80vh;
        padding: 3rem 1rem 20rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .doghat {
        background-image: url(./assets/desktop/bgsection1mobile.png);
    }

    .dogmane {
        background-image: url(./assets/desktop/bgsection2mobile.png);

    }

    .mongrel {
        background-image: url(./assets/desktop/bgsection3mobile.png);
    }

    .nodesktop {
        background-color: #EB4A7B;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        align-items: center;
        gap: 2rem;

    }

    .nodesktop ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;

    }

    .nodesktop ul li a img {
        height: 2.5rem;
    }

    .footernav {
        padding: 1rem;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        text-align: center;
        gap: 1rem;

    }
}